---
---

@import "{{ site.theme }}";
body {
  font-size: 16px;
  background-color: #ffb6c1;
}

header img {
  text-align: center;
}

#conclave {
  float: left;
  width: 35%;
  margin-top: -45px;
  margin-left: -60px;
}

#conclave:after {
  clear: left;
}
